expense-app {
    --nav-padding: 100px;
    display: block;
    width: 100%;
    height: 100%;

    @media (display-mode: fullscreen), (display-mode: standalone) {
        --nav-padding: 120px;
    }
}

body {
    transition: background-color .2s ease;
}

body:has(:where(page-dialog, overview-page, categories-page)[page-open]) {
    :is(nav-panel) {
        translate: calc(var(--page-x) * -1) 0 !important;
    }
}

body:has(:where(login-modal, modal-dialog, filter-modal, expense-modal, category-modal, scroll-modal)[modal-open]) {
    & {
        background-color: light-dark(rgb(189,189,194), var(--black));
    }
    :is(nav-panel) {
        scale: var(--modal-scale);
        border-radius: var(--radius-4);
        background-color: light-dark(var(--bg-primary), rgb(18,18,20)) !important;
    }
}

#appTabs {
    display: block;
    width: 100%;
    height: 100%;

    & tab-list {
        position: fixed;
        z-index: 5;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: var(--bg-glass);
        backdrop-filter: blur(20px) brightness(1);

        display: grid;
        grid-template-columns: var(--layout-column);
        padding-bottom: env(safe-area-inset-bottom, 0px);

        /* @media (display-mode: fullscreen), (display-mode: standalone) {
            padding-bottom: 20px;
        } */

        /* @media (prefers-color-scheme: dark) {
            backdrop-filter: blur(50px) brightness(2);
        } */

        .container {
            grid-column: body;
            height: 68px;

            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: var(--size-4);
            padding-inline: var(--size-4);

            & nav-tab {
                color: var(--fg-accent);
                width: var(--size-11);
                height: 100%;
                border-radius: var(--radius-2);
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: var(--size-1);
                font-size: var(--text-xs);

                &[aria-selected=true] {
                    color: var(--primary);
                }
            }

            & button[data-button] {
                width: var(--size-9);
                aspect-ratio: 1;
                background-color: var(--secondary);
                color: var(--solid-bg);
                border: 2px solid var(--bg-glass);
                /* box-shadow: 0 0 10px var(--secondary); */
                border-radius: 50%;
                padding: 0;
                display: grid;
                place-content: center;
                translate: 0 -30px;
            }
        }
    }

    & nav-panel {
        position: fixed;
        inset: 0;
        overflow-y: auto;
        overscroll-behavior: contain;
        min-width: 100vw;
        padding-top: env(safe-area-inset-top);
        background-color: var(--bg-primary);

        transition-behavior: allow-discrete;
        transition-duration: .2s;
        transition-timing-function: var(--easing-x);
        transition-property: display, translate, scale, border-radius, background-color;

        :where(main-page) > header {
            & h2 {
                font-size: var(--text-lg);
            }
        }

        /* outline: 4px solid hotpink;
        outline-offset: -4px; */

        &[data-page-expenses] {
            &[hidden] {
                translate: calc(var(--page-x) * -1) 0;
                opacity: 0;
            }

            &:not([hidden]) {
                translate: 0 0;
                opacity: 1;

                @starting-style {
                    translate: calc(var(--page-x) * -1) 0;
                    opacity: 0;
                }
            }
        }

        &[data-page-settings] {
            &[hidden] {
                translate: var(--page-x) 0;
                opacity: 0;
            }

            &:not([hidden]) {
                display: grid;
                translate: 0 0;
                opacity: 1;

                @starting-style {
                    translate: var(--page-x) 0;
                    opacity: 0;
                }
            }
        }

        /* > main-page {
            width: 100%;
            min-height: 100%;

            display: grid;
            grid-template-columns: var(--layout-column);
            grid-template-rows: var(--layout-row);
            padding-block-end: var(--nav-padding);

            > header {
                grid-area: header / body;

                display: flex;
                justify-content: center;
                align-items: center;
            }
            :where(#settings, expense-group) {
                grid-area: body / body;
            }
        } */
    }
}

.emptyData {
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-4);

    .empty-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--size-3);

        & svg {
            color: var(--primary);
            max-width: 180px;
            max-height: 160px;
        }

        & h4 {
            margin: 0;
            font-weight: normal;
            font-size: var(--text-md);
        }
    }
}
