expense-app {
    --nav-padding: 100px;
    display: block;
    width: 100%;
    height: 100%;

    @media (display-mode: fullscreen), (display-mode: standalone) {
        --nav-padding: 120px;
    }
}

#appTabs {
    display: block;
    width: 100%;
    height: 100%;

    & tab-list {
        position: fixed;
        z-index: 5;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: var(--bg-glass);
        backdrop-filter: blur(50px) brightness(1);

        display: grid;
        grid-template-columns: var(--layout-column);

        @media (display-mode: fullscreen), (display-mode: standalone) {
            padding-bottom: 20px;
        }

        @media (prefers-color-scheme: dark) {
            backdrop-filter: blur(50px) brightness(2);
        }

        .container {
            grid-column: body;
            height: 72px;

            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: var(--size-4);
            padding-inline: var(--size-4);

            & nav-tab {
                color: var(--fg-accent);
                width: var(--size-11);
                height: 100%;
                border-radius: var(--radius-2);
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: var(--size-1);
                font-size: var(--text-xs);

                &[aria-selected=true] {
                    color: var(--primary);
                }
            }

            & button[data-button] {
                width: var(--size-9);
                aspect-ratio: 1;
                background-color: var(--secondary);
                color: var(--bg-primary);
                border: 2px solid var(--bg-glass);
                border-radius: 50%;
                padding: 0;
                display: grid;
                place-content: center;
                translate: 0 -30px;
            }
        }
    }

    & nav-panel {
        position: fixed;
        inset: 0;
        overflow-y: auto;
        min-width: 100vw;

        transition-behavior: allow-discrete;
        transition-duration: .2s;
        transition-timing-function: ease;

        /* outline: 4px solid hotpink;
        outline-offset: -4px; */

        &[data-page-expenses] {
            &[hidden] {
                translate: -100px 0;
                opacity: 0;
            }

            &:not([hidden]) {
                translate: 0 0;
                opacity: 1;

                @starting-style {
                    translate: -100px 0;
                    opacity: 0;
                }
            }
        }

        &[data-page-settings] {
            &[hidden] {
                translate: 100px 0;
                opacity: 0;
            }

            &:not([hidden]) {
                display: grid;
                translate: 0 0;
                opacity: 1;

                @starting-style {
                    translate: 100px 0;
                    opacity: 0;
                }
            }
        }

        /* > main-page {
            width: 100%;
            min-height: 100%;

            display: grid;
            grid-template-columns: var(--layout-column);
            grid-template-rows: var(--layout-row);
            padding-block-end: var(--nav-padding);

            > header {
                grid-area: header / body;

                display: flex;
                justify-content: center;
                align-items: center;
            }
            :where(#settings, expense-group) {
                grid-area: body / body;
            }
        } */
    }
}


p {
    margin-block: var(--size-6);
    padding: var(--size-3);
    border-radius: var(--radius-3);
    background-color: var(--bg-card);

    &:where(:last-child) {
        margin: 0;
    }
}