#expenseFilter {
    :where(footer) {
        display: flex;
        justify-content: center;
        align-items: center;

        :where(*) {
            pointer-events: auto;
        }

        & button[data-button=action] {
            margin-block: var(--size-3);
            gap: 0.75rem;
        }
    }

    .input-group {
        padding-block-start: var(--size-3);
        padding-inline: 1rem;
    }

    .radio-group {
        padding: 0.5rem;
    }

    button[data-button] {
        background-color: var(--solid-bg);

        &[data-button=quick] {
            background-color: transparent;
        }
    }
}