.custom-form {
    &[data-loading] {
        .expense-card,
        .form-card,
        .input-loading,
        .input-container,
        .radio-loading li,
        category-icon {
            position: relative;
            overflow: hidden;

            &::before {
                content: '';
                display: block;
                position: absolute;
                inset: 0;

                background: linear-gradient(
                    100deg,
                    var(--bg-loading) 30%,
                    var(--bg-wave) 50%,
                    var(--bg-loading) 70%
                );
                background-size: 200% 100%;
                animation: shimmer 1s infinite linear;
            }
        }

        .input-container,
        .input-loading,
        .radio-loading li,
        category-icon {
            z-index: 2;
            &::before {
                --bg-wave: light-dark(var(--gray-5), var(--gray-4));
                --bg-loading: light-dark(var(--gray-6), var(--gray-5));
                border-radius: var(--radius-3);
            }
        }
    }

    .form-error {
        font-size: var(--text-sm);
        color: var(--color-red);
    }

    .form-card {
        width: 100%;
        border-radius: var(--radius-4);
        background-color: var(--bg-card);
        backdrop-filter: var(--card-filter);
        border: 1px solid var(--card-border);
        margin-block: var(--size-5);
        overflow: hidden;
        /* border: 2px solid var(--bg-accent); */
    }

    .custom-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: var(--size-5) var(--size-4);
        gap: var(--size-3);

        /* category-icon {
            box-shadow: 0 0 10px var(--color-green);
        } */

        .input-loading {
            width: 100%;

            & input {
               width: 100%;
               height: var(--size-9);
               text-align: center;
               font-size: var(--text-xl);
               font-weight: bold;
               border-radius: var(--radius-3);
               /* text-shadow: 0 0 2px var(--fg-accent); */
           }
        }
    }

    .input-group {
        width: 100%;
        padding: var(--size-4);

        &.pb-0 {
            padding-bottom: 0;
        }

        .date-input {
            width: 100%;
            padding-block-end: var(--size-3);

            border-bottom: 1px solid var(--list-border);
        }

        .text-input {
            padding-block-start: var(--size-4);

            & textarea {
                width: 100%;
                min-height: 128px;
                padding: var(--size-1);
                font-size: var(--text-base);
                background-color: transparent;
                border-radius: var(--radius-2);
                resize: none;
            }
        }

    }

    .radio-group {
        list-style: none;
        margin: 0;
        padding: 0;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
        padding: var(--size-4) var(--size-3);
        gap: var(--size-3);

        &:has(.emptyData) {
            grid-template-columns: 1fr;

            :where(li, dynamic-item) {
                border-radius: var(--radius-4);
            }
        }

        :where(li, dynamic-item) {
            aspect-ratio: 1 / 1;
            display: grid;
            justify-content: center;

            border-radius: 50%;

            & label {
                width: 100%;
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                display: grid;
                place-content: center;
                cursor: pointer;

                outline: 2px solid transparent;
                outline-offset: -2px;
                transition: .3s ease;

                &[data-icon] {
                    border: 2px solid var(--bg-accent);
                }

                &[data-color] {
                    border: 2px solid var(--bg-glass);
                }

                &:has(input:checked) {
                    outline-color: var(--secondary);
                    outline-offset: 2px;
                }

                /* &:has(input:focus) {
                    outline-offset: 6px;
                } */

                &[data-icon] {
                    background-color: var(--bg-form);
                    color: var(--fg-primary);
                    /* box-shadow: 0 0 8px var(--gray-5); */
                    
                    & svg {
                        width: 22px;
                        height: 22px;
                    }
                }
            }
        }
    }


    & button[data-button=delete] {
        margin-inline: auto;
        margin-block: var(--size-3);
        background-color: color-mix(in srgb, var(--color-red) 15%, transparent);
        color: var(--color-red);
        border: 1px solid color-mix(in srgb, var(--color-red) 15%, transparent);

        display: none;

        & svg-icon {
            color: var(--color-red);
        }

        &[data-show] {
            display: flex;
        }
    }
}