#virtualKeyboard {
    --bottom: max(env(safe-area-inset-bottom, 0px), var(--size-2));
    position: fixed;
    /* z-index: 999; */
    padding: var(--size-2) 0;
    width: 100%;
    max-width: 40rem;
    margin: auto auto 0;
    left: 0;
    bottom: 0;
    isolation: isolate;
    overflow: hidden;

    border: none;
    outline: none;
    background-color: color-mix(in srgb, var(--gray-5) 70%, transparent);
    backdrop-filter: blur(20px) brightness(.9);
    border: 1px solid var(--glass-border);
    border-radius: 2rem 2rem;

    /* transition-behavior: allow-discrete;
    transition-duration: .3s;
    transition-timing-function: ease;
    transition-property: display, transform; */
    transform: translateZ(9);
    will-change: transform;
    transform: translateY(100%);

    &::backdrop {
        background-color: transparent;
    }

    &:popover-open {
        display: block;
        transform: translateY(0);
    }

    footer {
        position: relative;
        padding: 0 var(--size-3) var(--size-2);

        & button {
            pointer-events: auto;
            color: var(--primary);
        }
    }
}