#loginModal {
    .login-page {
        padding-block-start: var(--size-7);
        padding-inline: var(--size-2);

        & h2 {
            font-size: var(--text-xl);
            text-align: center;
            color: var(--fg-primary);
            color: var(--primary);
            margin-block: var(--size-3);
        }

        .intro {
            color: var(--fg-primary);
            margin-block-start: var(--size-4);
            text-align: center;
            text-wrap: pretty;

            @media (min-width: 30rem) {
                padding-inline: 20px;
            }
        }

        .card {
            padding-block: var(--size-5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: var(--size-3);

            &.card--large {
                padding-block: var(--size-7);
            }

            & .message {
                margin-block-start: var(--size-2);
                font-size: var(--text-sm);
                color: var(--fg-accent);

                text-align: center;
                text-wrap: pretty;

                /* border: 1px solid var(--secondary); */
                /* border-radius: var(--radius-3);
                padding: var(--size-3) var(--size-2);
                background-color: color-mix(in srgb, var(--secondary) 10%, transparent); */

                @media (min-width: 30rem) {
                    padding-inline: 20px;
                }

                & em {
                    font-style: normal;
                    text-decoration: underline;
                    text-decoration-color: var(--secondary);
                }
            }

            & button:where(
                [data-button=login-anonymous],
                [data-button=modal]
            ) {
                color: var(--fg-primary);
                border: none;
                background: none;
                text-decoration: underline;
                text-decoration-color: var(--fg-accent);
                text-decoration-thickness: 2px;
            }

            & button[data-button=login-github] {
                & svg-icon {
                    color: var(--solid-fg);
                }
            }
        }

        .diviter {
            font-size: var(--text-xs);
            font-weight: 500;
            text-transform: uppercase;
            color: var(--fg-accent);
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            align-items: center;
            gap: var(--size-3);

            &::before, &::after {
                content: '';
                display: block;
                border-top: 2px solid var(--bg-accent);
            }
        }
    }
}