.page-header {
    grid-area: header / edge;

    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    align-items: center;
    padding-inline: 4vw;
    padding-top: max(env(safe-area-inset-top), var(--size-2));

    position: sticky;
    top: 0;
    z-index: 5;

    background-color: var(--bg-glass);
    backdrop-filter: blur(30px) brightness(1);

    /* @media (prefers-color-scheme: dark) {
        backdrop-filter: blur(50px) brightness(2);
    } */

    @media (display-mode: fullscreen), (display-mode: standalone) {
        padding-bottom: var(--size-2);
    }

    & h2 {
        font-size: var(--text-lg);
        text-align: center;
        color: var(--fg-primary);
    }

    & button {
        padding: 0;
        border: none;
        background-color: transparent;
        color: var(--fg-primary);

        width: 44px;
        aspect-ratio: 1;
        background-color: var(--bg-card);
        border-radius: 50%;

        display: grid;
        place-content: center;

        &.button-close {
            padding-inline-start: var(--space-0);
        }

        &.button-close {
            justify-self: start;

            > svg {
                translate: -1px 0;
            }
        }

        &.button-action {
            justify-self: end;
            color: var(--primary);

            &.hide {
                opacity: 0;
                pointer-events: none;
            }
        }
    }
}

[data-android] {
    .page-header {
        /* background-color: var(--solid-bg); */
        background-color: var(--bg);

        & button {
            &[data-button=close],
            &.button-action {
                background-color: var(--solid-bg);
            }
        }
    }
}

footer {
    grid-area: sticky / body;
    position: sticky;
    bottom: 0;
    pointer-events: none;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-block-start: var(--size-2);
    padding-inline: var(--size-4);
}
