theme-select {
    & custom-option {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: var(--size-5);
        height: 54px;
        padding-inline: var(--size-1);

        .theme-icon {
            width: 40px;
            height: 40px;
            background-color: var(--solid-bg);
            border-radius: 50%;

            display: grid;
            place-content: center;
            color: var(--fg-color);
        }

        &[selected] {
            background-color: transparent;

            .theme-icon {
                background-color: var(--primary);
                color: var(--solid-bg);
            }
        }
    }

    & custom-selected {
        color: var(--fg-accent);

        .theme-icon {
            display: none;
        }
        & span:last-child {
            display: none;
        }
    }
}