@import url('./sizes.css');

:root {
    color-scheme: light dark;

    inline-size: 100vw;
    block-size: 100vh;
    /* block-size: 100dvh; */
    /* height: calc(var(--vh, 1vh) * 100); */

    &[theme=light] {
        &, & * {
            color-scheme: light;
        }
    }
    &[theme=dark] {
        &, & * {
            color-scheme: dark;
        }
    }
}

html,
body {
    --font-family: 'Poppins', sans-serif;
    font-family: var(--font-family);
    font-size: 16px;

    inline-size: 100%;
    block-size: 100%;

    transition: block-size 1s ease;

    background-color: var(--bg-primary);
    color: var(--fg-primary);
    /* --primary-bg: color-mix(in srgb, var(--primary) 25%, transparent);
    background-image: linear-gradient(to top, var(--primary-bg), var(--bg-primary), var(--bg-primary)); */
}
/*
html {
    padding-top: env(safe-area-inset-top);
} */

body {
    --layout-column: [edge-start] 1fr [body-start] clamp(0rem, 92vw, 30rem) [body-end] 1fr [edge-end];
    --layout-row: [header-start page-start] 60px [header-end body-start] auto [body-end page-end];

    & :where([data-button], [data-route]) :is(*) {
        pointer-events: none;
    }

    [data-form-input] {
        background-color: var(--bg-form);
        border-radius: var(--radius-2);
        border: none;
        outline: none;
        outline: 2px solid transparent;
        outline-offset: -2px;
        transition: .3s ease;
        caret-color: var(--secondary);
        color: var(--fg-primary);

        &:focus {
            outline-color: var(--secondary);
            outline-offset: 2px;
        }
    }

    [data-no-scrollbar] {
        scrollbar-width: none;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    [data-icon-button] {
        padding: 0;
        border: none;
        background-color: transparent;
        color: var(--fg-primary);

        width: 44px;
        aspect-ratio: 1;
        /* background-color: var(--bg-accent); */
        background-color: var(--solid-bg);
        border-radius: 50%;

        display: grid;
        place-content: center;
    }

    [data-primary-button] {
        padding: 0 var(--size-4);
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--size-2);
        /* background-color: light-dark(var(--gray-5), var(--black)); */
        background-color: var(--solid-bg);
        border: none;
        border-radius: var(--radius-5);
        color: var(--fg-primary);
        outline: none;

        & svg-icon {
            color: var(--primary);
        }
    }

    [data-aria-only] {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}